.img-fluid {
	width: 100%;
	height: auto;
}

.img-avatar {
	height: 12rem;
	width: 12rem;
	border-radius: 2.5%;
	display: block;
	margin: auto;
}

.img-logo {
	height: 2rem;
	width: 3rem;
}
